<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="study_post_post_listing_data_source" xsi:type="string">Study\Post\Model\ResourceModel\Post\Grid\Collection</item>
                <item name="study_post_form_data_source" xsi:type="string">Study\Post\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Study\Post\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">study_posts</argument>
            <argument name="resourceModel" xsi:type="string">Study\Post\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>

    <preference for="Study\Post\Api\PostRepositoryInterface" type="Study\Post\Model\PostRepository"/>
    <preference for="Study\Post\Api\Data\PostInterface" type="Study\Post\Model\Post"/>
    
</config>
