<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Study_Post::posts" title="Main Posts" module="Study_Post" sortOrder="51" resource="Study_Post::posts"/>
        <add id="Study_Post::post" title="Manage Posts" module="Study_Post" sortOrder="10" action="studypost/post/index" resource="Study_Post::posts" parent="Study_Post::posts"/>
    </menu>
</config>
